/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to the 'about-us' element */
#about-us {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0; /* Start the element as invisible */
}

.about-us-container {
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-title-container {
  text-align: center;
  width: 100%;
}

.about-us-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.about-us-title-line {
  width: 50%;
  border: 0;
  border-bottom: 2px solid black;
  margin: 20px auto; /* Center the line */
}

.content-container {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

.text-container {
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.gradient-heading {
  font-size: 2.9rem; /* Slightly increased font size */
  font-weight: bold;
  background: -webkit-linear-gradient(left, #007CF0, #00DFD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}
.text {
  flex: 1;
}

.text-container {
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.about-us-heading {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-us-line {
  border: none;
  border-bottom: 2px solid black; /* Solid line */
  margin-bottom: 20px;
  width: 100%;
}

.text-container p,
.text-container ul {
  text-align: left; /* Align text to the left */
  font-size: 1rem;
  line-height: 1.6;
}

.image {
  flex: 1;
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .text, .image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .about-us-container {
    margin: 50px 5%; /* Reduce side margins for smaller screens */
  }
}
